.app-user-icon {
    .icon {
        color: white;
        transition: 0.125s ease-in-out color;
        &:hover {
            color: rgb(0, 203, 255);
        }
    }
    &[data-is-active="false"] {
        .icon {
            color: rgb(0, 203, 255);
        }
    }
}
